<section class="detalle">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div id="detalle" style="width: 100%">
    <form>
      <a class="glyphicon glyphicon-arrow-left" v-on:click="goBack"></a>
      <div>
        <h4>Id Cliente: {{ cliente.cliId }}</h4>
        <h4>Razón social: {{ cliente.razonSocial }}</h4>
        <h4>Nombre: {{ cliente.nombreFantasia }}</h4>
        <h4>Cuit: {{ cliente.cuit }}</h4>
        <h4>Domicilio: {{ (typeof cliente.domicilios!='undefined')?cliente.domicilios[0].domicilio : 'no domicilio' }}
        </h4>
        <h4>Localidad:
          {{ (typeof cliente.domicilios!='undefined')?cliente.domicilios[0].localidad.nombre : 'no localidad' }}</h4>
        <h4>Código Postal:
          {{ (typeof cliente.domicilios!='undefined')?cliente.domicilios[0].localidad.cod_pos : 'no cod pos'}}</h4>
        <h4>Email: {{ cliente.email || 'no email' }}</h4>
        <h4>Situación ante el iva: {{ cliente.sit_ante_iva_nombre}}</h4>
      </div>
    </form>
  </div>
</section>